p { color: #708090;}

p {color: #708090; font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;}

h1 {color: black; font-family: 'Merriweather',Georgia, "Times New Roman", serif;}

body {background-color: white;}

#container {background-color: white;
              width: 80%;
            margin-top: 0;
            margin-right: auto;
            margin-bottom: 0;
            margin-left: auto;
            margin: 0 auto 0 auto;
            margin: 0 auto;}

#nav {margin: 0; padding: 0; list-style-type: none; border-bottom: 1px solid #000000}

#nav a:link, #nav a:visited
{display: block; color: #000000; background-color: #EEE8AA;
font-weight: bold; text-align: center; text-decoration: none;
padding: 4px; font-family: Helvetica, Arial, sans-serif;}

#nav a:hover, #nav a:active {background-color: #FFD700}

.caption {font-family: Georgia, "Times New Roman", serif;
          font-style: italic;
        color: black;
        font-size: 0.8em;
        margin-top: 0;
        text-align: left;}

#footer {color: black;
        font-family: Georgia, "Times New Roman", serif;
        font: 0.8em;
        border-top: 1px solid black;}

img {border: none}

#nav { display: flex;
          flex-direction: column;}

@media (min-width: 600px) {
  #nav { flex-direction: row;
                justify-content: center;
              justify-content: space-around;}
      }
